@model IEnumerable<Piece>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section Examples {
<div id="examplesJS">
    <p>Репертуар:</p>
    <ul id="samples">
        @foreach(var piece in this.Model)
        {
            <li><a class="exampleLink jsLink" href="#" data-melody="@piece.Text">@piece.Title</a></li>
        }        
    </ul>
    <p><a id="ruleLink" class="jsLink" href="~/Music/Rules">Правила синтаксиса нотной записи</a></p>
    @Html.Partial("~/Views/Shared/Rules.cshtml")    
</div>
<div id="examples">
    <p>Примеры мелодий:</p>
    <ul id="samples">
        @foreach (var piece in Model)
        {
            <li>
                <form action="~/Music/GenerateMelody" method="post">
                    <input type="hidden" name="melody" value="@piece.Text" />
                    <input type="hidden" name="jsEnabled" id="jsEnabled" value="false" />
                    <input class="link-button" type="submit" value="@piece.Title" />
                </form>
            </li>
        }
    </ul>
    <p><a id="ruleLink" href="~/Music/Rules">Правила синтаксиса нотной записи</a></p>
</div>
}

    @using (Ajax.BeginForm("GenerateMelody", "Music", null, new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnFailure = "AJAXEvents.Failure",
        OnSuccess = "AJAXEvents.Success",
        UpdateTargetId = "generatedMelody",
        OnBegin = "AJAXEvents.Begin",
        OnComplete = "AJAXEvents.Complete"   
    }, new { id = "melodyForm", spellcheck=false }))
    {
        <p class="warning"><em><span class="highlight">Продолжительность мелодии не должна превышать 2 минуты.</span></em></p>
        <textarea id="melodyTextarea" name="melody"></textarea>
        <input type="hidden" name="jsEnabled" id="jsEnabled" value="false" />
        <input id="submitButton" type="submit" value="Сыграть">
    }
<div id="generatedMelody">
    <img src="~/Content/images/loading.gif" alt="Генерирую" />
</div>
@section Scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/Interface/AJAXEvents.js"></script>
}